.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.empty {
  color: #777;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}


.title {
  margin: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: aliceblue;
}

.title::before {
  content: "▌";
  color: #E50914;
  margin-right: 8px;
}
